beautifulsoup4==4.13.4
numpy==2.3.2
pandas==2.3.1
polars==1.32.3
psycopg2_binary==2.9.10
pydantic==2.11.7
python-dotenv==1.1.1
python_json_logger==3.3.0
pytz==2024.1
Requests==2.32.4
rich==14.1.0
SQLAlchemy==2.0.43
sqlalchemy_utils==0.41.2
tenacity==8.5.0
tqdm==4.67.1
urllib3==2.5.0
